@page "/videogame"
@page "/videogame/{id:int}"
@inject HttpClient Http
@inject NavigationManager Navigation

@if (Id is null)
{
	<PageTitle>Add a New Video Game</PageTitle>
	<h3>Add a New Video Game</h3>
}
else
{
	<PageTitle>Edit @game.Name</PageTitle>
	<h3>Edit @game.Name</h3>
}

<EditForm Model="game" OnSubmit="HandleSubmit">
	<div>
		<label for="name">Name</label>
		<InputText id="name" @bind-Value="game.Name" class="form-control" />
	</div>
	<div>
		<label for="publisher">Publisher</label>
		<InputText id="publisher" @bind-Value="game.Publisher" class="form-control" />
	</div>
	<div>
		<label for="releaseYear">Release Year</label>
		<InputNumber id="releaseYear" @bind-Value="game.ReleaseYear" class="form-control" />
	</div><br />
	<button type="submit" class="btn btn-primary">Save</button>
	@if (Id is not null)
	{
		<button type="button" class="btn btn-danger" @onclick="DeleteVideoGame">Delete</button>
	}
</EditForm>

@code {
	[Parameter]
	public int? Id { get; set; }
	VideoGame game = new VideoGame { Name = "" };

	protected override async Task OnParametersSetAsync()
	{
		if (Id is not null)
		{
			var result = await Http.GetFromJsonAsync<VideoGame>($"api/videogame/{Id}");
			if (result is not null)
			{
				game = result;
			}
		}
	}

	async Task DeleteVideoGame()
	{
		await Http.DeleteAsync($"api/videogame/{Id}");
		Navigation.NavigateTo("/videogames");
	}

	async Task HandleSubmit()
	{
		if (Id is null)
		{
			await Http.PostAsJsonAsync("api/videogame", game);
		}
		else
		{
			await Http.PutAsJsonAsync($"api/videogame/{Id}", game);
		}
		Navigation.NavigateTo("/videogames");
	}
}
